<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>WECLCOME TO YelpCamp</h2>
            <p>View the most beautiful and selected camps around the world in one click! </p>
            <p>
                <a class="btn btn-primary btn-large" href="/campground">View all campgrounds</a>
            </p>
        </div>
    </header>
    
    
</div>


<%- include('partials/footer') %>